<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>U of T GPA Calculator</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="main_style.css">
</head>

<body>
<div id="app">
    <h2><a href="https://tingfengx.github.io"> Home </a></h2>
    <br/>
    <h1>University of Toronto GPA Calculator &nbsp; &nbsp; &nbsp; <a rel="license"
                                                                     href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img
            alt="Creative Commons Licence"
            style="border-width:0"
            src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a></h1> <br>
    <h5># Notes: Please enter only courses that counts towards your GPA.</h5>
    <h5># This implementation uses numerical course marks out of 100, check <a
            href="https://transcripts.utoronto.ca/faqs/grade-scale/">this</a> for grading scheme.</h5>
    <br><br>
    <!-- VueJs app will mounted here-->

    <button type='button' class="btn btn-info" @click="addNewRow">
        <i class="fas fa-plus-circle"></i>
        Add Course
    </button>
    <br><br>

    <table>
        <thead>
        <tr>
            <th scope="col">COURSE CODE</th>
            <th scope="col">COURSE MARK</th>
            <th scope="col">COURSE WEIGHT</th>
            <th scope="col">DELETE</th>
        </tr>

        </thead>
        <tbody>

        <tr v-for="(course, k) in courses" :key="k">
            <td>
                <input class="form-control" type="text" v-model="course.course_code"/>
            </td>
            <td>
                <input class="form-control" type="text" v-model="course.course_mark"/>
            </td>
            <td>
                <input class="form-control" type="text" v-model="course.course_weight" id="weight_"/>
            </td>
            <td scope="row" class="trashIconContainer">
                <i class="far fa-trash-alt" @click="deleteRow(k, course)"></i>
            </td>
        </tr>
        <tr v-show="courses.length === 0">
            <td colspan="6">
                <p class="text-center alert-danger p-2">
                    ====== No course added/available. ======
                </p>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="5" class="text-right">Total Credits Earned:</td>
            <td class="text-right">{{credits_earned}}</td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">Your GPA:</td>
            <td class="text-right">{{total_gpa}}</td>
        </tr>
        </tfoot>
    </table>


</div>

<script src="main.js">
    // script in separate file
</script>
</body>

</html>
