html, body {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 20px 30px;
}

.trashIconContainer {
    vertical-align: middle !important;
    padding-top: 10px;
    text-align: center;
}


.trashIconContainer i {
    color: #e7670e;
}


footer {
    /* position: absolute; */
    left: 100px;
    bottom: 10px;
    height: 100px;
    width: 80%;
    overflow: hidden;
}
